<ion-view view-title="About Me…">
  <ion-content>
        <div class="card">
            <div class="item item-divider text-center">
                <h2 >About My project : Vegan recipes</h2>
            </div>
            <div class="item item-text-wrap">
                <h3 align=center>About Vegan Recipes</h3>
                <p>Hello, Vegan Recipes is pleased to welcome you.</p>

                <p>For this project, I wanted to create a cooking site with MEAN technology (MongoDB, ExpressJS, AngularJS and Node.js.) and Ionic for the mobile version.
                    I took as the basis the site <a href="http://www.recettesoriginales.fr/"> Recipesoriginales.fr</a>.</p>
                <p>I brought some novelties like locating a restaurant's vegan  or a store's vegan (not yet sorry…). A page for all the publication on instagram are visible.
                As a user (if you log in) you will be able to publish your recipes and note those of the other members.</p>
                <p>I hope you enjoy this site. I wish you a good journey ;-)</p>

                <p><a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></p>

                <p><small>© Site réalisé par <a href="http://www.lvdesign.com.fr" title="author: LVdesign.com.fr">LVdesign.com.fr</a></small></p>
            </div>
      </div>

  </ion-content>
</ion-view>
